.Footer-container{
    display:flex;
    height: 13.2rem;
    width:100%;
    display:flex;
    flex-direction: row;
    border: 1px solid black;
}

.Footer-number-products{
    margin-left:14.4rem;
    width:17rem;
    height:4.8rem;
    margin-top: 6rem;
    font-family: var(--text-sansPro);
    color:var(--color);
    font-weight: var(--font-weight); 
    font-size: 24px;
}